:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
}

:root.theme-dark .header__decor,
:root:has(#theme-dark:checked) .header__decor {
  display: flex;
}

:root:has(#theme-dark:checked) {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
}

:root:has(#theme-light:checked) {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --bg-image: url('../images/cover-image-light.png');
}

:root:has(#theme-auto:checked) {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
}

:root:has(#theme-auto:checked) {
  @media (prefers-color-scheme: light) {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --bg-image: url('../images/cover-image-light.png');
  }
}

:root:has(#theme-light:checked) .header__decor,
:root:has(#theme-auto:checked):not(:has(#theme-dark:checked)) .header__decor {
  @media (prefers-color-scheme: light) {
    display: none;
  }
}