.page {
  background-attachment: fixed;
}

.page__body {
  margin: 0 auto;
  padding: 0 10px;
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  line-height: 1.3;
  color: var(--text-color);
  background-color: var(--page-bg-color);
  min-height: 100vh;
}

.link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
  border: 1px solid currentColor;
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

.corner {
  position: absolute;
  width: 25px;
  height: 25px;
}

.header__corners {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  pointer-events: none;
}

.corner--top-left {
  top: 0;
  left: 0;
  border-top: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.corner--top-right {
  top: 0;
  right: 0;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.corner--bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.corner--bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: var(--header-height);
  box-sizing: border-box;
  background-color: var(--page-bg-color);
  background-image: var(--header-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 70px;
}

.header__theme-menu-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 2px 12px;
  background: transparent;
  color: var(--section-title-color);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-transform: lowercase;
  transition: border 0.3s;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--section-title-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

#theme-light:checked ~ .header__theme-menu-list [for="theme-light"],
#theme-auto:checked ~ .header__theme-menu-list [for="theme-auto"],
#theme-dark:checked ~ .header__theme-menu-list [for="theme-dark"] {
  border: 1px solid var(--section-title-color);
  pointer-events: none;
}

.header__decor {
  position: absolute;
  top: var(--gap-medium);
  right: calc(var(--gap-medium));
  display: flex;
  align-items: center;
  gap: var(--gap-small);
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.38;
}

.header__decor::before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__decor-rec {
  color: var(--accent-color);
  font-weight: var(--font-weight-normal);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
  margin-top: 65px;
  margin-bottom: 55px;
}

.header__text {
  align-self: center;
  justify-self: end;
  max-width: 355px;
  padding: 0;
  margin: 0;
  font-weight: var(--font-weight-bold);
  margin-bottom: 55px;
}

.content {
  padding: var(--gap-medium) 0;
  display: grid;
  gap: var(--section-gap);
}

.content__section {
  display: grid;
  gap: var(--gap-medium);
}

.content__section-title {
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: var(--section-title-color);
}

.article__title {
  font-weight: var(--font-weight-bold);
  font-size: inherit;
  margin: 0 0 var(--gap-small);
}

.article__subtitle {
  font-weight: var(--font-weight-normal);
  font-size: inherit;
  margin: var(--gap-medium) 0 var(--gap-small);
}

.article__text {
  margin: 0 0 var(--gap-medium);
}


.gallery {
  display: grid;
  gap: var(--gap-medium);
}

.gallery__title {
  font-size: inherit;
  margin: 0;
  color: var(--accent-color);
}

.gallery__grid {
  display: grid;
  gap: var(--gap-small);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
  box-sizing: border-box;
  background-color: var(--page-bg-color);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 0;
}

@media (width >= 768px) {
  .header {
    padding: var(--gap-medium);
  }
  
  .header__decor {
    top: var(--gap-medium);
    right: calc(var(--gap-medium) + 9px);
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  
  .header__text {
    max-width: 364px;
  }
  
  .content {
    padding: var(--gap-medium);
  }
  
  .content__section {
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-medium);
  }
  
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: var(--gap-medium);
  }
  
  .gallery__image:first-child {
    grid-column: span 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }
  
  .footer {
    padding: var(--gap-medium);
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .footer__text {
    left: var(--gap-medium);
    bottom: var(--gap-medium);
  }

  .content__section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__text {
    max-width: 491px;
  }
  
  .content__section {
    grid-template-columns: 1fr 2fr;
  }
  
  .content__section-body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
  }
  
  .gallery__grid {
    gap: var(--gap-medium);
  }

  .content__section:nth-of-type(2) .content__section-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}