:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --section-title-color: #FF0070;

  --main-font: 'IBM Plex mono', monospace;
  --font-size-base: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 40px;
  --section-gap: 30px;
  
  --header-height: 100vh;
  --content-width-mobile: 355px;
  --content-width-tablet: 728px;
  --content-width-desktop: 1024px;
  
  --header-bg-image: url('../images/cover-image-dark.png');
  
  --page-bg-color: #000028;
}