:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --decorated-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --header-title-shadow: 4px 4px 0px #ff0070;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --link-shadow: 2px 2px 0px var(--accent-color);
  --link-hover-color: #f1b2ce;
}